body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #111111;
    color: white;
}
body.light-mode {
    background-color: #EEEEEE;
    color: black;
}
#banner {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 1px solid #8a8a8a;
    position: relative;
    z-index: 10;
}
.dark-mode #banner {
    background-color: #1a1a1a;
}
.light-mode #banner {
    background-color: #d0d0d0;
}
#buttonContainer {
    position: absolute;
    left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}
#logo {
    height: 90%;
    margin: auto;
}
.button {
    background-color: #292929;
    border: none;
    color: white;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vh;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #868686;
}
#gameContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 7vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
#counters {
    position: absolute;
    top: 2vh;
    left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    z-index: 10;
}
.counter {
    background-color: #292929;
    color: white;
    padding: 1vh 1vw;
    text-align: center;
    font-size: 2.5vh;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.counter:hover {
    background-color: #3a3a3a;
}
.light-mode .counter {
    background-color: #d0d0d0;
    color: black;
}
.light-mode .counter:hover {
    background-color: #c0c0c0;
}
#hexGrid {
    width: 100%;
    height: calc(100% - 90px);
    margin-top: 90px;
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.overlay-content {
    border-radius: 10px;
    padding: 4vh 4vw;
    text-align: center;
    max-width: 80%;
    transform: scale(0.8);
    transition: transform 0.5s ease-in-out;
}
.dark-mode .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.light-mode .overlay {
    background-color: rgba(255, 255, 255, 0.7);
}
.dark-mode .overlay-content {
    background-color: #222;
    color: white;
}
.light-mode .overlay-content {
    background-color: #ddd;
    color: black;
}
.overlay.show {
    display: flex;
    opacity: 1;
}
.overlay.show .overlay-content {
    transform: scale(1);
}
.overlay-message {
    font-size: 3vh;
    margin-bottom: 4vh;
}
#unlimitedModalOverlay, #dailyModalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: #f4f4f4;
    padding: 4vh 4vw;
    border-radius: 5px;
    text-align: center;
    max-width: 80%;
    color: #333;
}
.dark-mode .modal-content {
    background-color: #333;
    color: #f4f4f4;
}
.modalMessage {
    font-size: 3vh;
    margin-bottom: 4vh;
}
#streakCount {
    font-size: 2.5vh;
    margin-bottom: 2vh;
}
#timerDisplay {
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 4vh;
}

@media (max-width: 768px) {
    #banner {
        justify-content: flex-start;
    }
    #logo {
        margin-left: 30%;
    }
    #counters {
        top: 1vh;
        left: 1vw;
    }
    .counter {
        padding: 0.5vh 1vw;
        font-size: 2vh;
    }
    #gameContainer {
        height: calc(100vh - 7vh); /* Adjust height to fit screen */
    }
    #hexGrid {
        width: 100%;
        height: calc(100% - 7vh);
    }
}